[logging]
# loglevel = {debug, info}
loglevel = debug
log_format = %(asctime)s %(levelname)-8s %(name)s.%(module)s.%(funcName)s() l.%(lineno)03d : %(message)s
logfile = /tmp/upq.log

[paths]
# paths beginning with "./" are treated as relative to path of this cfg file
socket    = /tmp/upq-incoming.sock
jobs_dir  = ./jobs

[db]
url= mysql://user:server@hostname/dbname

#
#-upload new file
#-reupload failed uploads
#-move files into an archive-folder on mirrors (or delete it, if mirror has no archive)
#-re-upload damaged/missing files
#-verify files
#-extract metadata
#-notify other services/websites about new files
#-import files already on mirrors (would mean a script that notifies about a new file)
#

[job new_file]
# needs filepath
enabled = true
# number of max. concurrent executions of this job, 0 means the main server will
# handle it syncroniously (connection blocking!)
concurrent = 3
notify_fail =
notify_success =

[job archive_file]
enabled = true
concurrent = 2
notify_fail = mail user@example.org
notify_success =

[job verify_local_file]
# needs fid
enabled = true
concurrent = 2
notify_fail = mail user1@example.org user2@example.org
notify_success = syslog blablub

[job verify_remote_file]
# needs fmfid and fmid
enabled = true
concurrent = 2
notify_fail =
notify_success =

[job list_queue]
enabled = true
concurrent = 0
notify_fail =
notify_success =

[job upload]
enabled = true
concurrent = 2

[job test]
enabled = true
concurrent = 2

[job extract_metadata]
enabled = true
concurrent = 2

[job hash]
enabled = true
concurrent = 2

[job mirror_upload]
enabled = true
concurrent = 2

[job remote_md5]
enabled = true
concurrent = 2

[job list_queue_t]
enabled = true
concurrent = 2
format = %(jobid)s %(jobname)s %(starttime)s %(status)s
sort = jobid

[job move_file_to_archive]
enabled = true
concurrent = 2

[job null_task]
enabled = true
concurrent = 2
