[Unit]
Description=Springfiles.com upload & metadata extract service
After=multi-user.target

[Service]
User=upq
Group=upq
Type=idle
ExecStart=/home/upq/upq/upq.py
WorkingDirectory=/home/upq/upq

[Install]
WantedBy=multi-user.target

